.buttons {
  background-color: #525050;
  padding: 2px;
}

.settings {
  height: 27px;
}

.settings > div {
  display: flex;
  gap: 10px;
}

.button {
  font-size: 20px;
  margin: 1px;
  border: 2px solid;
  background-color: #bdb8b8;
  padding: 3px 8px;
  cursor: pointer;
}

.colorButton {
  width: 26px;
  height: 26px;
}

.pressed {
  background-color: #8c9ad5;
  border-color: #8c9ad5;
}
